In [1]:
import pandas as pd
import warnings
from utils import *
warnings.filterwarnings('ignore')

In [2]:
filter_info = load_filter()
    
logger = Logger(log_level="DEBUG")

INPUT_DATA_DIR = 'output'
OUTPUT_DATA_DIR = 'output'

data = pd.read_excel(f'{INPUT_DATA_DIR}/{get_title(filter_info, notes=False)}.xlsx', index_col=False)
data.head(2)

[INFO] Logging level is: DEBUG

,Date,Description,Amount,AutoCategory,AccHolder,BankName,AccType,Category,Subcategory
0,2024-06-01,ANNUAL MEMBERSHIP FEE,-95.00,Fees & Adjustments,nowrin,chase,credit,subscriptions,sapphire
1,2024-06-01,ATT*BILL PAYMENT,-55.35,Bills & Utilities,sachin,chase,credit,utilities,wifi

In [3]:
category_info = pd.read_csv(f'utils/category.csv')
category_info.head(5)

                 Keyword       Category Subcategory
0        flyover chicago  entertainment     chicago
1  shoreline sightseeing  entertainment     chicago
2      argo canoe livery  entertainment       kayak
3            bridal cave  entertainment    missouri
4        lakeoftheozarks  entertainment    missouri

In [4]:
data[['Category', 'Subcategory']] = data.apply(
    find_category, axis=1, result_type='reduce', args=(category_info,))
data.head(2)

,Date,Description,Amount,AutoCategory,AccHolder,BankName,AccType,Category,Subcategory
0,2024-06-01,ANNUAL MEMBERSHIP FEE,-95.00,Fees & Adjustments,nowrin,chase,credit,subscriptions,sapphire
1,2024-06-01,ATT*BILL PAYMENT,-55.35,Bills & Utilities,sachin,chase,credit,utilities,wifi

In [5]:
unassigned_data = data.query("Category == 'others'")
logger.info(f"Unass. data count : {100*len(unassigned_data)/len(data) :.2f} %")
logger.info(f"Unass. data trans.: {100*unassigned_data['Amount'].abs().sum()/data['Amount'].abs().sum() :.2f} %")

[INFO] Unass. data count : 0.00 %
[INFO] Unass. data trans.: 0.00 %

In [6]:
filename = f"{OUTPUT_DATA_DIR}/{get_title(filter_info)}"
write_to_excel(data, f"{filename}.xlsx")